Makefile
Makefile.in
go.spec
config.cache
config.h
config.log
config.status
configure
libtool
stamp-h
stamp-h1
go.Make
config.h.in
aclocal.m4
go*.rpm
go*.tgz
config.guess
config.sub
.DS_Store
.gdb_history

