<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseProjectName</key>
	<string>LaTeX</string>
	<key>CommandEnvironments</key>
	<dict/>
	<key>CommandScripts</key>
	<dict/>
	<key>Commands</key>
	<dict>
		<key>Bibliography</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Clean</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Compile</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Continuous</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Glossary</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Index</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Special</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Stop</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
		<key>Typeset</key>
		<dict>
			<key>EnvironmentMode</key>
			<string>Base</string>
			<key>ScriptMode</key>
			<string>Base</string>
		</dict>
	</dict>
	<key>EngineEnvironments</key>
	<dict/>
	<key>EngineScripts</key>
	<dict/>
	<key>Engines</key>
	<dict/>
</dict>
</plist>
